.giveaway-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;

	img {
		margin-top: 5rem;
		margin-bottom: 3rem;
		max-width: 150px;
		height: 150px;
		border-radius: 8px;
	}
}

.configuration-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15rem;
	margin-bottom: 1rem;

	input {
		margin-bottom: 1rem;
	}
}

.winner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 6rem;
	padding: 1rem;
	border: 1px solid white;
	border-radius: 8px;
}

.image-border-w {
	border: 2px solid rgb(255, 255, 255);
}

.image-border-y {
	border: 2px solid rgb(255, 255, 0);
}

.configuration-form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
}